<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401173013508-q4n8k4ugksmfhcqd8lfaqj2shs465t2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401173013508-q4n8k4ugksmfhcqd8lfaqj2shs465t2b</string>
	<key>API_KEY</key>
	<string>AIzaSyAm2GsvNPZuUTUNdvnGUwlOWuR3-2yGvrk</string>
	<key>GCM_SENDER_ID</key>
	<string>401173013508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fellowship</string>
	<key>PROJECT_ID</key>
	<string>fellowship-2023--team-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fellowship-2023--team-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401173013508:ios:aae0369f28705376be8151</string>
</dict>
</plist>